*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #533483;
}
.navbar-brand{
    color: white;
}
.display-6{
    color: white;
    border: 5px;
}
.container{
    display: flex;
    padding-top: 5px;
}
.imagen1{
    padding-right: 23px;
    width: 100%;
}
