*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #533483;
}
.display-6{
    color: white;
    border: 5px;
    padding-left: 10px;
}
.container{
    display: flex;
    border: 2px solid red;
   
    
   
}
.border{
    border-style: ridge;
}
.imagen1{
    padding-right: 20px;
    margin-top: 5px;
    width: 100%;
}
