*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #533483;
    
  
}
.display-6{
    color: white;
    border: 5px;
}
.container{
    display: flex;
}
.imagen1{
    padding-right: 23px;
}